@font-face {
  font-family: "iconfont"; /* Project id 3619778 */
  src: url('iconfont.woff2?t=1664429671975') format('woff2'),
       url('iconfont.woff?t=1664429671975') format('woff'),
       url('iconfont.ttf?t=1664429671975') format('truetype'),
       url('iconfont.svg?t=1664429671975#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui1:before {
  content: "\e6ff";
}

.icon-fanhui:before {
  content: "\e62e";
}

.icon-caidanxuanzhongjiantou:before {
  content: "\e62d";
}

.icon-wode:before {
  content: "\e62c";
}

.icon-arrow-down-s-fill:before {
  content: "\e645";
}

.icon-arrow-up-s-fill:before {
  content: "\e69c";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-chakan-copy:before {
  content: "\e62b";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-remen:before {
  content: "\e620";
}

.icon-zhengcegonglve:before {
  content: "\e61f";
}

.icon-wodeqiye:before {
  content: "\e61b";
}

.icon-xiaoxizhongxin:before {
  content: "\e61c";
}

.icon-denglu:before {
  content: "\e61d";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-shaixuanzhankai:before {
  content: "\e613";
}

.icon-shaixuanshouqi:before {
  content: "\e614";
}

.icon-yishoucang:before {
  content: "\e616";
}

.icon-weishoucang:before {
  content: "\e617";
}

.icon-shenbaojilu:before {
  content: "\e618";
}

