.biz-upload01

  .ant-upload
    margin-bottom: 22px

  .biz-upload01-tip
    position absolute
    margin-left 0
    top: 28px;
    line-height 32px
    font-size 12px
    color #A6ADB5

  .ant-upload-list-item
    background #f7f7f7
    border-radius 4px
    height 24px
    padding-left 8px

.biz-upload01-list
  width 100%

  .ant-upload-list
    display flex
    flex-wrap wrap

    .ant-upload-list-text-container
      padding-right 16px
      width 100%
      box-sizing border-box
