.left-layout {
  flex-shrink: 0;
  //padding: 16px 0 0 0;
  overflow-y: auto;
  height: 100%;
}

.left-layout .items-box {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
